*{background-color: aquamarine;
margin: 0;

padding: 0;
}

.inlainebox{
    display: flex;
    align-items: first baseline;
}

.h1{
    display: flex;
align-items: center;
justify-content: center;
margin-top: 25px;
}

.h12{
font-size: 20px;
margin-top:10px;
margin: 20px;
}
.h21{
display: inline-flex;
    margin-left: 30px;
   
}


#menuprincipal{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    border: 3px solid brown;
    border-radius: 12px;
    padding: 25px;
    background-color: #6fe2e6;
}

   




.esclarecimento{
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 20px;
   border: 4px solid brown;

}

.alinhando{
    margin-left: 80px;
    font-size: 20px;
  border: 3px solid brown;
}



.biografiajao{
    margin-right: 50px;
    font-style: 30px;
    font-size: 20px;
    margin-left: 90px;
    margin-right: 100px;
    border: 4px solid brown;
}

.clase1{
display: inline;
align-items: baseline;



}
.clase{
display: flex;
margin: 30px;

}

.biografiajoao2{
    display: flex;
justify-content: center;
 
}
.fotocomeco1{
    display: inline;
align-items: baseline;

}

.fotocomeco{

display: inline-block;
width: 410px;
font-size: 20px;
margin-left: 20px;
border: 4px solid brown;

}

.fotocomeco12{
display: inline-block;
border: 4px solid brown;
width: 405px;
margin-left: 20px;
font-size: 20px;



}

.odespertarde{
display: flex;
margin-left: 400px;
margin-top: 70px;

}





.mentereal{
display: flex;
margin: 40px;
margin-left: 90px;
margin-right: 200px;
font-size: 18px;
}


.voltar{

border-color:rgb(32, 6, 6) ;
margin: 30px;
margin-left: 990px;
}




.esvaziar{
margin-left: 300px;


}


.manga{
display: inline-block;
margin-left: 20px;


}

